/* General Footer Styling */
.footer {
    /* Dark background */
    color: #d1c4e9;
    /* Light purple for text */
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.5);
    /* Subtle shadow at the top */
    position: relative;
    bottom: 0;
    width: 100%;
    border-radius: 10px;
    font-family: sans-serif;
}

.footer p {
    font-size: 1.2rem;
    margin: 0;
    color: #000000;
    font-weight: 500;
}

.footer-links {
    margin-top: 10px;
}

.footer-links a {
    color: #b790ff;
    /* Light purple */
    margin: 0 15px;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease, border-bottom 0.3s ease;
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;
}

/* Hover Effect */
.footer-links a:hover {
    color: #000000;
    /* Changes to white on hover */
    border-bottom: 2px solid #b790ff;
    /* Light purple underline */
}

/* Mobile Responsiveness */
@media screen and (max-width: 600px) {
    .footer-links a {
        display: block;
        margin: 10px 0;
    }
}