.nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    font-family: "Nosifer", sans-serif;
    height: 85px;
}

.logo-container a p {
    text-decoration: none;
    font-size: 1.3rem;
    color: #111;
    font-weight: bold;
    margin-bottom: 20px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    margin-right: 20px;
    margin-left: 20px;
}

.menu-btn {
    display: none;
    cursor: pointer;
    z-index: 2;
    text-decoration: none;
    border: none;
    outline: none;
    background: transparent;
}

.menu {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 4px 0;
    transition: 0.3s;
}

.close-btn,
#menuToggle,
.hidden {
    display: none;
    position: absolute;
    top: 15px;
    right: 15px;
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    color: #333;
    z-index: 2;
    transition: color 0.3s ease;
}

.close-btn:hover {
    color: #b790ff;
}

.nav-container {
    display: flex;
    align-items: center;
}

.nav-tabs {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-tab {
    padding: 10px 20px;
    text-decoration: none;
    color: #333;
    font-size: 1.2rem;
    transition: color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

svg,
.ps {
    margin-right: 20px;
    margin-top: 3px;
    font-size: 20px;
}

.nav-tab:hover {
    color: #b790ff;
}

.logoimage {
    width: 75px;
}

@media (max-width: 1200px) {
    .nav-wrapper {
        padding: 15px;
    }

    .logoimage {
        width: 80px;
    }

    .logo-container a {
        font-size: 1.2rem;
    }

    .nav-tab {
        padding: 10px;
        font-size: 1rem;
    }

    .menu-btn {
        display: block;
    }

    .nav-container {
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        width: 250px;
        height: 100vh;
        background-color: #fff;
        box-shadow: -1px 0 5px rgba(0, 0, 0, 0.3);
        flex-direction: column;
        padding-top: 80px;
        z-index: 12;
    }

    .nav-container.open {
        display: flex;
    }

    .close-btn {
        display: block;
    }

    .nav-tabs {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-tab {
        padding: 15px;
        width: 100%;
        border-bottom: 1px solid #eee;
    }

    .nav-tab:hover {
        background-color: #f5f5f5;
    }

    .nav-container {
        animation: slide-in 0.3s ease;
    }

    @keyframes slide-in {
        0% {
            transform: translateX(100%);
        }

        100% {
            transform: translateX(0);
        }
    }
}

@media (max-width: 1000px) {
    .nav-tabs {
        display: none;
    }

    .nav-container.open .nav-tabs {
        display: flex;
    }

    .nav-tab {
        font-size: 0.9rem;
    }
}

@media (max-width: 800px) {
    .nav-wrapper {
        padding: 10px;
    }

    .logoimage {
        width: 60px;
    }

    .logo-container a {
        font-size: 1rem;
    }

    .nav-tab {
        padding: 10px;
    }
}

@media (max-width: 500px) {
    .logoimage {
        width: 40px;
    }

    .logo-container a {
        font-size: 0.9rem;
    }

    .nav-tab {
        padding: 8px;
        font-size: 0.9rem;
    }

    .nav-tab:hover {
        background-color: #f5f5f5;
    }
}

@media (max-width: 450px) {
    .logoimage {
        width: 40px;
    }

    .logo-container a p {
        font-size: 0.6rem;
    }

    .nav-tab {
        padding: 8px;
        font-size: 0.9rem;
    }

    .nav-tab:hover {
        background-color: #f5f5f5;
    }
}